.profile-picture {
    border-radius: 50% 50%;
    object-fit: cover;
    width: 250px;
    height: 250px;
    transition: border-radius 0.5s;
}

.profile-picture:hover {
    border-radius: 10px;
}

.profile-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 150px);
    margin: 50px auto 50px auto;
    overflow: auto;
    border-radius: 10px 10px;
    box-shadow: 0px 0px 30px#181818;
    color: #F5F5F5;
    padding: 20px;
    background-color: #202020;
}

.profile-header div {
    margin-left: 50px;
}

.top-songs-table {
    width: calc(100% - 150px);
    margin: 0px auto 50px auto;
    border-radius: 10px 10px;
    overflow: auto;
    box-shadow: 0px 0px 30px#181818;
    border-spacing: 20px;
    background-color: #202020;
    color: #F5F5F5;
    border-collapse: collapse;
}

.top-songs-table th {
    color: #F5F5F5;
    text-align: left;
    padding-bottom: 15px;
    font-weight: 400;
}

.top-songs-table td {
    padding: 5px 0px 5px 5px;  
}

.top-songs-table td:first-child {
    padding: 5px 0px 5px 20px;  
}

.top-songs-table th {
    padding: 20px 0px 5px 20px;
}

.top-songs-table tr:hover {
    background-color: #282828;
}

.albums-grid {
    display: flex; 
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.section-header {
    margin-left: 100px;
    color: #F5F5F5
}
